#Contenedor_Título {
}
.a {
	text-align: right;
}
.r {
	text-align: center;
}
#Contenedor_Título2 div {
	text-align: center;
}
.y {
	text-align: center;
}.t {
	text-align: center;
}
.u {
	text-align: center;
}
.y {
	text-align: center;
}
.o {
	text-align: center;
}
.p {
	text-align: center;
}
.p {
	text-align: center;
}
.p {
	text-align: center;
}
.p {
	text-align: center;
}
.pAdmin{
	text-align: center;
}
