.animada{
    
    background-color: red;
    color: white;
    text-align: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: animacion_test;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes animacion_test{
    from{
        background-color: rgb(9, 211, 150);
    }
    to{
        background-color: rgb(88, 30, 197);
    }
}