*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background: rgb(240, 231, 231);
}
.FC 
{ 
    padding: 10px; 
    margin: 10px; 
    border: 2px solid black; 
    float: left; 
    width: 120px; 
}

.FLG{
    border: 2px solid black; 
    margin: 60px;
    margin-left: 30%;
    width: 250px; 
}
.LG 
{ 
    padding: 10px; 
    margin: 10px; 
    border: 2px solid black; 
    float: right;
    width: 120px; 
}
.titulos{
    margin-top: -20px;
}


.boton-izq{
    padding: 30px; 
    margin: 50px; 
    float:inline-start;

}

.final{
    margin-top: 10%;
    box-align: center;
}

body,html{ 
    background-color: rgb(12, 11, 11);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height:40%; margin:0;}

#conteiner{min-height:100%; }

#content {
    width: 80px;
    margin:0 auto;
    position: relative;
    background: rgb(250, 246, 246);
}

#footer {
    width: auto;
    height: 100px;

    margin-top:0%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    background: rgb(53, 42, 42);
    border-top: 2px solid #000;

} 