*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.Z{
    border:.2rem solid #0000;
    border-radius: 0px;
    /*hace el borde redondo*/
    margin: 0rem ;
    background-color: #161616;
    font-family: 'Hammersmith One', sans-serif;
    font-size:.9em;
}
#heading {
    color:#F4F4F4
    
}



.Elementos{
    border-radius: 0px;
    margin: 0rem ;
    background-color: #DD2236;
    
    font-family: 'Cairo', sans-serif;

}


.cuenta{
    border-radius: 0px;
    margin: 0rem ;
    background-color: #F4F4F4;
    font-family: 'Cairo', sans-serif;

}

.titulo{
    
    font-family: 'Orelega One', cursive;
    font-size:5.2em;


}

.links{
    font-family: 'Coda Caption', sans-serif;
   
}
.cuenta header{
    background: #F4F4F4;
    /*Barra de menu*/
    
}

header{
    background: #DD2236;
    /*Barra de menu*/
    
}


body{
    background-color: #F4F4F4;
}



video{
    border: 4px solid rgb(3, 3, 3);
    padding: 0px 1px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;


}
header, nav .inicio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
   
    
}
header, nav  .inicio .links{
    display: flex ;
    
    
}
header, nav .inicio .links a{
    
    padding: 10px 28px;
    color: #253530;
    text-decoration: none;
    border-bottom:9px solid transparent;
    transition: border .3s ease;
    
    
}
header nav .inicio .links a:hover{
    border-bottom-color: #97B7AD;
    

}


header, nav .inicio .links a.active{
    border-bottom-color: #253530;
}



#header {
    margin:auto;
    width:500px;
   
}

ul, ol {
    list-style:none;
}

.nav {
    width:500px; /*Le establecemos un ancho*/
    margin:0 auto; /*Centramos automaticamente*/
}

.nav > li {
    float:left;
}

.nav li a {
    background-color:#415E55;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color:#88ADA1;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}
